# Import Necessary Libraries

In [2]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

import requests as rq # for requests

from bs4 import BeautifulSoup # for scraping


# import k-means from clustering stage
from sklearn.cluster import KMeans

!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Solving environment: done

## Package Plan ##

  environment location: /home/jupyterlab/conda

  added / updated specs:
    - geopy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    openssl-1.0.2p             |       h470a237_1         3.1 MB  conda-forge
    geopy-1.17.0               |             py_0          49 KB  conda-forge
    certifi-2018.11.29         |        py36_1000         145 KB  conda-forge
    conda-4.5.11               |        py36_1000         651 KB  conda-forge
    ca-certificates-2018.11.29 |       ha4d7672_0         143 KB  conda-forge
    geographiclib-1.49         |             py_0          32 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         4.1 MB

The following NEW packages will be INSTALLED:

    geographiclib:   1.49-py_0            conda-forge
    geopy:           1.17.0-py_0          conda-forge

The following packages will be UPDATED:

    ca-certificates: 2018.8.24-ha4d7672_0 conda-forge --> 2018.11.29-ha4d7672_0 conda-forge
    certifi:         2018.8.24-py36_1001  conda-forge --> 2018.11.29-py36_1000  conda-forge
    conda:           4.5.11-py36_0        conda-forge --> 4.5.11-py36_1000      conda-forge
    openssl:         1.0.2p-h470a237_0    conda-forge --> 1.0.2p-h470a237_1     conda-forge


Downloading and Extracting Packages
openssl-1.0.2p       | 3.1 MB    | ##################################### | 100%
geopy-1.17.0         | 49 KB     | ##################################### | 100%
certifi-2018.11.29   | 145 KB    | ##################################### | 100%
conda-4.5.11         | 651 KB    | ##################################### | 100%
ca-certificates-2018 | 143 KB    | ##################################### | 100%
geographiclib-1.49   | 32 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Solving environment: done

## Package Plan ##

  environment location: /home/jupyterlab/conda

  added / updated specs:
    - folium=0.5.0


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    numpy-1.14.2               |   py36hdbf6ddf_0         4.0 MB
    vincent-0.4.4              |             py_1          28 KB  conda-forge
    altair-2.3.0               |        py36_1000         534 KB  conda-forge
    branca-0.3.1               |             py_0          25 KB  conda-forge
    pandas-0.23.4              |   py36hf8a1672_0        27.8 MB  conda-forge
    folium-0.5.0               |             py_0          45 KB  conda-forge
    ------------------------------------------------------------
                                           Total:        32.4 MB

The following NEW packages will be INSTALLED:

    altair:  2.3.0-py36_1000       conda-forge
    branca:  0.3.1-py_0            conda-forge
    folium:  0.5.0-py_0            conda-forge
    vincent: 0.4.4-py_1            conda-forge

The following packages will be UPDATED:

    pandas:  0.23.0-py36h637b7d7_0             --> 0.23.4-py36hf8a1672_0 conda-forge

The following packages will be DOWNGRADED:

    numpy:   1.14.3-py36hcd700cb_1             --> 1.14.2-py36hdbf6ddf_0


Downloading and Extracting Packages
numpy-1.14.2         | 4.0 MB    | ##################################### | 100%
vincent-0.4.4        | 28 KB     | ##################################### | 100%
altair-2.3.0         | 534 KB    | ##################################### | 100%
branca-0.3.1         | 25 KB     | ##################################### | 100%
pandas-0.23.4        | 27.8 MB   | ##################################### | 100%
folium-0.5.0         | 45 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Libraries imported.

## Select URL

In [4]:
website_url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
req = requests.get(website_url, auth=('user', 'pass'))

In [21]:
reqText = req.text
soup = BeautifulSoup(reqText, 'html.parser')

## Create DataFrame

In [376]:
soup = BeautifulSoup(req.content,'lxml')
table = soup.find_all('table')[0] 
df = pd.read_html(str(table))
#print(df[0].to_json(orient='records'))

In [377]:
df = df[0]

In [378]:
df.columns = ['Postal_Code','Borough','Neighbourhood']

In [379]:
df = df.drop(0)
df.head()

  Postal_Code           Borough     Neighbourhood
1         M1A      Not assigned      Not assigned
2         M2A      Not assigned      Not assigned
3         M3A        North York         Parkwoods
4         M4A        North York  Victoria Village
5         M5A  Downtown Toronto      Harbourfront

In [380]:
dfClean = df.loc[df['Borough'] != 'Not assigned']
dfClean.head()

  Postal_Code           Borough     Neighbourhood
3         M3A        North York         Parkwoods
4         M4A        North York  Victoria Village
5         M5A  Downtown Toronto      Harbourfront
6         M5A  Downtown Toronto       Regent Park
7         M6A        North York  Lawrence Heights

In [381]:
dfClean = dfClean.reset_index()

In [382]:
dfClean.head()

   index Postal_Code           Borough     Neighbourhood
0      3         M3A        North York         Parkwoods
1      4         M4A        North York  Victoria Village
2      5         M5A  Downtown Toronto      Harbourfront
3      6         M5A  Downtown Toronto       Regent Park
4      7         M6A        North York  Lawrence Heights

In [383]:
dfClean = dfClean.drop(columns='index')
dfClean.head()

  Postal_Code           Borough     Neighbourhood
0         M3A        North York         Parkwoods
1         M4A        North York  Victoria Village
2         M5A  Downtown Toronto      Harbourfront
3         M5A  Downtown Toronto       Regent Park
4         M6A        North York  Lawrence Heights

In [384]:
dfClean.columns

Index(['Postal_Code', 'Borough', 'Neighbourhood'], dtype='object')

In [385]:
dfClean.head()

  Postal_Code           Borough     Neighbourhood
0         M3A        North York         Parkwoods
1         M4A        North York  Victoria Village
2         M5A  Downtown Toronto      Harbourfront
3         M5A  Downtown Toronto       Regent Park
4         M6A        North York  Lawrence Heights

In [386]:
idx = dfClean.loc[dfClean['Neighbourhood'] == 'Not assigned']

In [387]:
dfClean.iloc[idx.index[0]].Neighbourhood = dfClean.iloc[idx.index[0]].Borough

In [388]:
dfClean.head()

  Postal_Code           Borough     Neighbourhood
0         M3A        North York         Parkwoods
1         M4A        North York  Victoria Village
2         M5A  Downtown Toronto      Harbourfront
3         M5A  Downtown Toronto       Regent Park
4         M6A        North York  Lawrence Heights

In [389]:
dfClean.columns

Index(['Postal_Code', 'Borough', 'Neighbourhood'], dtype='object')

### Find Postcodes

In [390]:
dfClean.sort_values(['Postal_Code'])
dfClean.head()

  Postal_Code           Borough     Neighbourhood
0         M3A        North York         Parkwoods
1         M4A        North York  Victoria Village
2         M5A  Downtown Toronto      Harbourfront
3         M5A  Downtown Toronto       Regent Park
4         M6A        North York  Lawrence Heights

In [394]:
dfClean = dfClean.groupby(['Postal_Code','Borough'])['Neighbourhood'].apply(lambda x: "%s" % ', '.join(x))

In [399]:
dfClean = pd.DataFrame(dfClean)

In [402]:
dfClean = dfClean.reset_index()
dfClean.head()

  Postal_Code      Borough                           Neighbourhood
0         M1B  Scarborough                          Rouge, Malvern
1         M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [403]:
dfClean.values

array([['M1B', 'Scarborough', 'Rouge, Malvern'],
       ['M1C', 'Scarborough', 'Highland Creek, Rouge Hill, Port Union'],
       ['M1E', 'Scarborough', 'Guildwood, Morningside, West Hill'],
       ['M1G', 'Scarborough', 'Woburn'],
       ['M1H', 'Scarborough', 'Cedarbrae'],
       ['M1J', 'Scarborough', 'Scarborough Village'],
       ['M1K', 'Scarborough',
        'East Birchmount Park, Ionview, Kennedy Park'],
       ['M1L', 'Scarborough', 'Clairlea, Golden Mile, Oakridge'],
       ['M1M', 'Scarborough',
        'Cliffcrest, Cliffside, Scarborough Village West'],
       ['M1N', 'Scarborough', 'Birch Cliff, Cliffside West'],
       ['M1P', 'Scarborough',
        'Dorset Park, Scarborough Town Centre, Wexford Heights'],
       ['M1R', 'Scarborough', 'Maryvale, Wexford'],
       ['M1S', 'Scarborough', 'Agincourt'],
       ['M1T', 'Scarborough', "Clarks Corners, Sullivan, Tam O'Shanter"],
       ['M1V', 'Scarborough',
        "Agincourt North, L'Amoreaux East, Milliken, Steeles East"],
       ['M1W', 'Scarborough', "L'Amoreaux West, Steeles West"],
       ['M1X', 'Scarborough', 'Upper Rouge'],
       ['M2H', 'North York', 'Hillcrest Village'],
       ['M2J', 'North York', 'Fairview, Henry Farm, Oriole'],
       ['M2K', 'North York', 'Bayview Village'],
       ['M2L', 'North York', 'Silver Hills, York Mills'],
       ['M2M', 'North York', 'Newtonbrook, Willowdale'],
       ['M2N', 'North York', 'Willowdale South'],
       ['M2P', 'North York', 'York Mills West'],
       ['M2R', 'North York', 'Willowdale West'],
       ['M3A', 'North York', 'Parkwoods'],
       ['M3B', 'North York', 'Don Mills North'],
       ['M3C', 'North York', 'Flemingdon Park, Don Mills South'],
       ['M3H', 'North York',
        'Bathurst Manor, Downsview North, Wilson Heights'],
       ['M3J', 'North York', 'Northwood Park, York University'],
       ['M3K', 'North York', 'CFB Toronto, Downsview East'],
       ['M3L', 'North York', 'Downsview West'],
       ['M3M', 'North York', 'Downsview Central'],
       ['M3N', 'North York', 'Downsview Northwest'],
       ['M4A', 'North York', 'Victoria Village'],
       ['M4B', 'East York', 'Woodbine Gardens, Parkview Hill'],
       ['M4C', 'East York', 'Woodbine Heights'],
       ['M4E', 'East Toronto', 'The Beaches'],
       ['M4G', 'East York', 'Leaside'],
       ['M4H', 'East York', 'Thorncliffe Park'],
       ['M4J', 'East York', 'East Toronto'],
       ['M4K', 'East Toronto', 'The Danforth West, Riverdale'],
       ['M4L', 'East Toronto', 'The Beaches West, India Bazaar'],
       ['M4M', 'East Toronto', 'Studio District'],
       ['M4N', 'Central Toronto', 'Lawrence Park'],
       ['M4P', 'Central Toronto', 'Davisville North'],
       ['M4R', 'Central Toronto', 'North Toronto West'],
       ['M4S', 'Central Toronto', 'Davisville'],
       ['M4T', 'Central Toronto', 'Moore Park, Summerhill East'],
       ['M4V', 'Central Toronto',
        'Deer Park, Forest Hill SE, Rathnelly, South Hill, Summerhill West'],
       ['M4W', 'Downtown Toronto', 'Rosedale'],
       ['M4X', 'Downtown Toronto', 'Cabbagetown, St. James Town'],
       ['M4Y', 'Downtown Toronto', 'Church and Wellesley'],
       ['M5A', 'Downtown Toronto', 'Harbourfront, Regent Park'],
       ['M5B', 'Downtown Toronto', 'Ryerson, Garden District'],
       ['M5C', 'Downtown Toronto', 'St. James Town'],
       ['M5E', 'Downtown Toronto', 'Berczy Park'],
       ['M5G', 'Downtown Toronto', 'Central Bay Street'],
       ['M5H', 'Downtown Toronto', 'Adelaide, King, Richmond'],
       ['M5J', 'Downtown Toronto',
        'Harbourfront East, Toronto Islands, Union Station'],
       ['M5K', 'Downtown Toronto',
        'Design Exchange, Toronto Dominion Centre'],
       ['M5L', 'Downtown Toronto', 'Commerce Court, Victoria Hotel'],
       ['M5M', 'North York', 'Bedford Park, Lawrence Manor East'],
       ['M5N', 'Central Toronto', 'Roselawn'],
       ['M5P', 'Central Toronto', 'Forest Hill North, Forest Hill West'],
       ['M5R', 'Central Toronto', 'The Annex, North Midtown, Yorkville'],
       ['M5S', 'Downtown Toronto', 'Harbord, University of Toronto'],
       ['M5T', 'Downtown Toronto',
        'Chinatown, Grange Park, Kensington Market'],
       ['M5V', 'Downtown Toronto',
        'CN Tower, Bathurst Quay, Island airport, Harbourfront West, King and Spadina, Railway Lands, South Niagara'],
       ['M5W', 'Downtown Toronto', 'Stn A PO Boxes 25 The Esplanade'],
       ['M5X', 'Downtown Toronto',
        'First Canadian Place, Underground city'],
       ['M6A', 'North York', 'Lawrence Heights, Lawrence Manor'],
       ['M6B', 'North York', 'Glencairn'],
       ['M6C', 'York', 'Humewood-Cedarvale'],
       ['M6E', 'York', 'Caledonia-Fairbanks'],
       ['M6G', 'Downtown Toronto', 'Christie'],
       ['M6H', 'West Toronto', 'Dovercourt Village, Dufferin'],
       ['M6J', 'West Toronto', 'Little Portugal, Trinity'],
       ['M6K', 'West Toronto',
        'Brockton, Exhibition Place, Parkdale Village'],
       ['M6L', 'North York', 'Maple Leaf Park, North Park, Upwood Park'],
       ['M6M', 'York', 'Del Ray, Keelesdale, Mount Dennis, Silverthorn'],
       ['M6N', 'York', 'The Junction North, Runnymede'],
       ['M6P', 'West Toronto', 'High Park, The Junction South'],
       ['M6R', 'West Toronto', 'Parkdale, Roncesvalles'],
       ['M6S', 'West Toronto', 'Runnymede, Swansea'],
       ['M7A', "Queen's Park", "Queen's Park"],
       ['M7R', 'Mississauga', 'Canada Post Gateway Processing Centre'],
       ['M7Y', 'East Toronto',
        'Business reply mail Processing Centre969 Eastern'],
       ['M8V', 'Etobicoke',
        'Humber Bay Shores, Mimico South, New Toronto'],
       ['M8W', 'Etobicoke', 'Alderwood, Long Branch'],
       ['M8X', 'Etobicoke',
        'The Kingsway, Montgomery Road, Old Mill North'],
       ['M8Y', 'Etobicoke',
        "Humber Bay, King's Mill Park, Kingsway Park South East, Mimico NE, Old Mill South, The Queensway East, Royal York South East, Sunnylea"],
       ['M8Z', 'Etobicoke',
        'Kingsway Park South West, Mimico NW, The Queensway West, Royal York South West, South of Bloor'],
       ['M9A', 'Etobicoke', 'Islington Avenue'],
       ['M9B', 'Etobicoke',
        'Cloverdale, Islington, Martin Grove, Princess Gardens, West Deane Park'],
       ['M9C', 'Etobicoke',
        'Bloordale Gardens, Eringate, Markland Wood, Old Burnhamthorpe'],
       ['M9L', 'North York', 'Humber Summit'],
       ['M9M', 'North York', 'Emery, Humberlea'],
       ['M9N', 'York', 'Weston'],
       ['M9P', 'Etobicoke', 'Westmount'],
       ['M9R', 'Etobicoke',
        'Kingsview Village, Martin Grove Gardens, Richview Gardens, St. Phillips'],
       ['M9V', 'Etobicoke',
        'Albion Gardens, Beaumond Heights, Humbergate, Jamestown, Mount Olive, Silverstone, South Steeles, Thistletown'],
       ['M9W', 'Etobicoke', 'Northwest']], dtype=object)

### Get Lat/Long

In [404]:
dfCoord = pd.read_csv('http://cocl.us/Geospatial_data') 
dfCoord.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [370]:
dfClean.columns

Index(['Neighbourhood'], dtype='object')

In [349]:
dfCoord.columns = ['Postal_Code','Latitude','Longitude']
dfCoord.head()

  Postal_Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [366]:
dfMerge = dfClean.merge(dfCoord, left_on='Postal_Code', right_on='Postal_Code', how='left')
dfMerge.head()

  Postal_Code                           Neighbourhood   Latitude  Longitude
0         M1B                          Rouge, Malvern  43.806686 -79.194353
1         M1C  Highland Creek, Rouge Hill, Port Union  43.784535 -79.160497
2         M1E       Guildwood, Morningside, West Hill  43.763573 -79.188711
3         M1G                                  Woburn  43.770992 -79.216917
4         M1H                               Cedarbrae  43.773136 -79.239476

In [360]:
dfClean.head()

                                                  Neighbourhood
Postal_Code Borough
M1B         Scarborough                          Rouge, Malvern
M1C         Scarborough  Highland Creek, Rouge Hill, Port Union
M1E         Scarborough       Guildwood, Morningside, West Hill
M1G         Scarborough                                  Woburn
M1H         Scarborough                               Cedarbrae